// Primary Colors
$primary-color: rgba(42, 73, 58, 0.98);
$secondary-color: #fcce8d;
$tertiary-color: #efe9e2;
$fourth-color: #d9e38a;

// Other UI Colors
$banner-color: #6ed190;
$text-background: white;
$text-color: black;

// Global Font
$font-family: "Roboto", Arial, sans-serif;

// Error Color
$error-color: #9f0000;
